<div class="row p-5">
  <ng-container *ngIf="sols$ | async; else loadingOrError">
    <div class="col-2" *ngFor="let s of sols$ | async">
      <app-sol-card [sol]="s"></app-sol-card>
    </div>
  </ng-container>

  <ng-template #loadingOrError>
    <div class="col text-center" *ngIf="!hasError">
      <fa-icon [icon]="faSpinner" [spin]="true" [size]="'5x'"></fa-icon>
    </div>
    <div class="col text-center" *ngIf="hasError">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">An error has ocorred!</h5>
          <a href="#" class="btn btn-primary">Try Again</a>
        </div>
      </div>
    </div>
  </ng-template>
</div>
