<div class="row p-5">
  
  <ng-container *ngIf="(solBloc.bloc | async) as state">

    <div class="col text-center" *ngIf="state.isLoading">
      <fa-icon [icon]="faSpinner" [spin]="true" [size]="'5x'"></fa-icon>
    </div>

    <div class="col-2" *ngFor="let s of state.sols">
      <app-sol-card [sol]="s"></app-sol-card>
    </div>

    <div class="col" *ngIf="state.hasError">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">An error has ocorred!</h5>
          <button type="button" class="btn btn-primary" (click)="tryAgain()">Try Again</button>
        </div>
      </div>
    </div>

  </ng-container>

</div>
